.form_experience{
    text-align:center;
        padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-color: rgb(212, 17, 0);
    background-color: rgb(0, 0, 0);
    border-width: 10px;
    box-shadow: 0 2px 5px 2px rgba(0,0,0,0.4);
    border-style: solid;
    border-left: none;
    border-right: none;
    border-radius: 25px; 
}

.radio_buttons{
    padding: 40px 60px;
    background-color: rgba(255, 255, 255, 0.61);
    border-width: 3px;
    border-style: solid;
    border-top-color: rgba(0,0,0,0.7);
    border-bottom-color: rgba(0,0,0,0.7);
    border-left: none ;
    border-radius: 25px;
    border-right: none;
    box-shadow: 0 2px 5px 2px rgba(0,0,0,0.4);
}


.form_experience h1{
    color: #d41100;
}