/* ==========================================================================
   Blog styles - begin
   ========================================================================== */
/* common mixins - start */
/* common mixins - end */
/* mixins styles - start */
/* mixins styles - end */
/* ==========================================================================
   Blog Common style - begin
   ========================================================================== */
.qodef-blog-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0 0 40px;
  clear: both;
}

.qodef-blog-holder article {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  box-sizing: border-box;
}

.qodef-blog-holder article.sticky .qodef-post-title a {
  color: #f34e3a;
}

.qodef-blog-holder article .qodef-post-content {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.qodef-blog-holder article .qodef-post-image {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
}

.qodef-blog-holder article .qodef-post-image img {
  display: block;
}

.qodef-blog-holder article .qodef-post-image-background {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.qodef-blog-holder article .qodef-post-image-background a {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.qodef-blog-holder article .qodef-post-image-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  line-height: 1;
  color: #fff;
}

.qodef-blog-holder article .qodef-post-text {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  box-sizing: border-box;
}

.qodef-blog-holder article .qodef-post-title {
  margin: 0;
}

.qodef-blog-holder article .qodef-post-excerpt-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 15px 0 0;
  border-bottom: 1px solid #f1f1f1;
  padding: 0 0 27px;
}

.qodef-blog-holder article .qodef-post-excerpt-holder p {
  margin: 0;
}

.qodef-blog-holder article .qodef-post-excerpt:after {
  content: '...';
}

.qodef-blog-holder article .qodef-more-link-container {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 15px 0 0;
}

.qodef-blog-holder article .qodef-post-info {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.qodef-blog-holder article .qodef-post-info > * {
  position: relative;
  display: inline-block;
  vertical-align: top;
  color: currentColor;
}

.qodef-blog-holder article .qodef-post-info > * a {
  color: inherit;
}

.qodef-blog-holder article .qodef-post-info-top {
  margin-bottom: 5px;
  text-transform: uppercase;
}

.qodef-blog-holder article .qodef-post-info-top > div {
  position: relative;
  display: inline-block;
  padding: 0 14px 0 0;
  color: #9c9c9c;
  font-size: 12px;
  letter-spacing: .15em;
}

.qodef-blog-holder article .qodef-post-info-top > div:last-child {
  padding: 0;
}

.qodef-blog-holder article .qodef-post-info-top > div:last-child:after {
  content: '';
}

.qodef-blog-holder article .qodef-post-info-top > div a {
  color: inherit;
}

.qodef-blog-holder article .qodef-post-info-top > div a:hover {
  color: #f34e3a;
}

.qodef-blog-holder article .qodef-post-info-bottom {
  padding-top: 17px;
}

.qodef-blog-holder article .qodef-post-info-bottom .qodef-post-info-bottom-left,
.qodef-blog-holder article .qodef-post-info-bottom .qodef-post-info-bottom-right {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

@media only screen and (min-width: 769px) {
  .qodef-blog-holder article .qodef-post-info-bottom .qodef-post-info-bottom-left {
    float: left;
    width: 70%;
  }
  .qodef-blog-holder article .qodef-post-info-bottom .qodef-post-info-bottom-right {
    text-align: right;
    float: right;
    width: 30%;
  }
}

.qodef-blog-holder article .qodef-post-info-bottom .qodef-post-info-bottom-right > div {
  margin-left: 17px;
}

.qodef-blog-holder article .qodef-post-info-bottom .qodef-post-info-bottom-right > div:first-child {
  margin-left: 0;
}

.qodef-blog-holder article.format-link .qodef-post-text {
  padding: 50px 50px 47px;
  background-color: #29282d;
}

.qodef-blog-holder article.format-link .qodef-post-text-main {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  text-align: left;
}

.qodef-blog-holder article.format-link .qodef-post-mark {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  width: 50px;
  vertical-align: top;
  text-align: left;
  font-size: 47px;
  opacity: 0.6;
}

.qodef-blog-holder article.format-link .qodef-post-mark .qodef-link-mark {
  padding-top: 5px;
  color: #f34e3a;
}

.qodef-blog-holder article.format-link .qodef-post-link-holder {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  text-align: left;
}

.qodef-blog-holder article.format-link .qodef-post-link-holder .qodef-link-title {
  color: #fff;
  margin-left: 39px;
}

.qodef-blog-holder article.format-quote .qodef-post-text {
  padding: 50px 50px 47px;
  background-color: #f34e3a;
}

.qodef-blog-holder article.format-quote .qodef-post-text-main {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  text-align: left;
}

.qodef-blog-holder article.format-quote .qodef-post-mark {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  width: 50px;
  vertical-align: top;
  text-align: left;
  font-size: 63px;
  opacity: 0.2;
  color: #fff;
}

.qodef-blog-holder article.format-quote .qodef-post-mark .qodef-quote-mark {
  padding-top: 5px;
  font-size: 63px;
  color: #fff;
}

.qodef-blog-holder article.format-quote .qodef-post-quote-holder {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  vertical-align: middle;
  text-align: left;
}

.qodef-blog-holder article.format-quote .qodef-post-quote-holder .qodef-post-quote-holder-inner {
  margin-left: 39px;
}

.qodef-blog-holder article.format-quote .qodef-post-quote-holder .qodef-post-quote-holder-inner .qodef-quote-title {
  color: #fff;
}

.qodef-blog-holder article.format-quote .qodef-post-quote-holder .qodef-post-quote-holder-inner .qodef-quote-title a:hover {
  color: #29282d;
}

.qodef-blog-holder article.format-quote .qodef-post-author {
  display: inline-block;
  margin-bottom: 23px;
  font-size: 13px;
  line-height: 20px;
}

.qodef-blog-holder article.format-gallery .qodef-post-image {
  width: 100%;
}

.qodef-blog-holder article.format-gallery .owl-carousel .owl-item {
  z-index: 2;
}

.qodef-blog-holder article.format-gallery .owl-carousel .owl-item.active {
  z-index: 3;
}

.qodef-blog-holder article.format-audio.has-post-thumbnail .qodef-post-heading {
  position: relative;
}

.qodef-blog-holder article.format-audio.has-post-thumbnail .qodef-blog-audio-holder {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}

.qodef-blog-holder article.format-audio .qodef-post-image {
  width: 100%;
  max-width: inherit;
}

.qodef-blog-holder article.format-audio .qodef-post-image img {
  width: 100%;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container, .qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-embed, .qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-embed body, .qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls {
  background: none;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container {
  background-color: #29282d;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container,
.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls {
  height: 38px !important;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls {
  padding: 0 10px 0 4px;
  box-sizing: border-box;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button {
  width: 39px;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button {
  width: 30px;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button,
.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button {
  height: 38px;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button button,
.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button button {
  position: relative;
  height: 100%;
  background: none;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  border: 0;
  outline: none;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-play button,
.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button.mejs-play button {
  width: 39px;
  background-image: url("../img/audio/play.png");
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-pause button,
.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button.mejs-pause button {
  width: 39px;
  background-image: url("../img/audio/pause.png");
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-stop button,
.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button.mejs-stop button {
  width: 39px;
  background-image: url("../img/audio/stop.png");
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-mute button,
.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button.mejs-mute button {
  width: 30px;
  background-image: url("../img/audio/sound.png");
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-unmute button,
.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button.mejs-unmute button {
  width: 30px;
  background-image: url("../img/audio/mute.png");
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-time {
  height: 100%;
  padding: 2px 0 0 0;
  font-family: inherit;
  font-size: 13px;
  color: #fff;
  line-height: 36px;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail {
  height: 100%;
  padding: 2px 0 0 0;
  font-family: inherit;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total {
  height: 5px;
  margin: 15px 0;
  background: none;
  background-color: #fff;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-current {
  height: 5px;
  background-color: #f34e3a;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-buffering,
.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-hovered {
  height: 5px;
  z-index: 9999;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-hovered {
  background: rgba(0, 0, 0, 0.5);
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-float {
  top: -16px;
  border: 0;
  color: #fff;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-handle-content {
  display: none;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-float-corner {
  top: 11px;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-loaded,
.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-float {
  background: none;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider {
  height: 38px;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  height: 5px;
  background: none;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
  top: 17px;
  background-color: #fff;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  background-color: #f34e3a;
}

.qodef-blog-holder article.format-video .qodef-self-hosted-video {
  max-width: 100%;
}

/* ==========================================================================
   Blog Common style - end
   ========================================================================== */
/* ==========================================================================
   Blog Masonry general style - begin
   ========================================================================== */
.qodef-blog-holder.qodef-blog-type-masonry {
  /***** Number of Columns - begin *****/
  /***** Number of Columns - end *****/
  /***** Space on container if full width - start *****/
  /***** Space on container if full width - end *****/
}

.qodef-blog-holder.qodef-blog-type-masonry .qodef-blog-holder-inner {
  opacity: 0;
}

.qodef-blog-holder.qodef-blog-type-masonry article {
  float: left;
}

.qodef-blog-holder.qodef-blog-type-masonry article,
.qodef-blog-holder.qodef-blog-type-masonry .qodef-blog-masonry-grid-sizer {
  width: 100%;
}

.qodef-blog-holder.qodef-blog-type-masonry .qodef-blog-masonry-grid-gutter {
  width: 0;
}

.qodef-blog-holder.qodef-blog-type-masonry.qodef-blog-two-columns article,
.qodef-blog-holder.qodef-blog-type-masonry.qodef-blog-two-columns .qodef-blog-masonry-grid-sizer {
  width: 50%;
}

.qodef-blog-holder.qodef-blog-type-masonry.qodef-blog-two-columns article.qodef-post-size-large-width, .qodef-blog-holder.qodef-blog-type-masonry.qodef-blog-two-columns article.qodef-post-size-large-width-height {
  width: 100%;
}

.qodef-blog-holder.qodef-blog-type-masonry.qodef-blog-three-columns article,
.qodef-blog-holder.qodef-blog-type-masonry.qodef-blog-three-columns .qodef-blog-masonry-grid-sizer {
  width: 33.33333%;
}

.qodef-blog-holder.qodef-blog-type-masonry.qodef-blog-three-columns article.qodef-post-size-large-width, .qodef-blog-holder.qodef-blog-type-masonry.qodef-blog-three-columns article.qodef-post-size-large-width-height {
  width: 66.66667%;
}

.qodef-blog-holder.qodef-blog-type-masonry.qodef-blog-four-columns article,
.qodef-blog-holder.qodef-blog-type-masonry.qodef-blog-four-columns .qodef-blog-masonry-grid-sizer {
  width: 25%;
}

.qodef-blog-holder.qodef-blog-type-masonry.qodef-blog-four-columns article.qodef-post-size-large-width, .qodef-blog-holder.qodef-blog-type-masonry.qodef-blog-four-columns article.qodef-post-size-large-width-height {
  width: 50%;
}

.qodef-blog-holder.qodef-blog-type-masonry.qodef-blog-five-columns article,
.qodef-blog-holder.qodef-blog-type-masonry.qodef-blog-five-columns .qodef-blog-masonry-grid-sizer {
  width: 20%;
}

.qodef-blog-holder.qodef-blog-type-masonry.qodef-blog-five-columns article.qodef-post-size-large-width, .qodef-blog-holder.qodef-blog-type-masonry.qodef-blog-five-columns article.qodef-post-size-large-width-height {
  width: 40%;
}

.qodef-blog-holder.qodef-blog-type-masonry.qodef-blog-masonry-full-width {
  box-sizing: border-box;
}

.qodef-blog-holder.qodef-blog-type-masonry.qodef-blog-masonry-full-width.qodef-no-space {
  padding: 0 0px;
}

.qodef-blog-holder.qodef-blog-type-masonry.qodef-blog-masonry-full-width.qodef-tiny-space {
  padding: 0 10px;
}

.qodef-blog-holder.qodef-blog-type-masonry.qodef-blog-masonry-full-width.qodef-small-space {
  padding: 0 20px;
}

.qodef-blog-holder.qodef-blog-type-masonry.qodef-blog-masonry-full-width.qodef-normal-space {
  padding: 0 30px;
}

.qodef-blog-holder.qodef-blog-type-masonry.qodef-blog-masonry-full-width.qodef-medium-space {
  padding: 0 40px;
}

.qodef-blog-holder.qodef-blog-type-masonry.qodef-blog-masonry-full-width.qodef-large-space {
  padding: 0 50px;
}

/* ==========================================================================
   Blog Masonry general style - end
   ========================================================================== */
/* ==========================================================================
   Blog pagination standard style - begin
   ========================================================================== */
.qodef-blog-pagination-wp {
  display: none;
}

.qodef-blog-pagination {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 20px 0 30px;
  clear: both;
  text-align: center;
}

.qodef-blog-pagination ul {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  width: auto;
}

.qodef-blog-pagination ul li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0 4px;
}

.qodef-blog-pagination ul li a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  height: 44px;
  width: 44px;
  text-align: center;
  line-height: 46px;
  background-color: #f2f2f2;
  color: #29282d;
  font-size: 13px;
  font-weight: 700;
  font-family: "Teko", sans-serif;
  -webkit-transition: color 0.2s ease-out, background-color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out, background-color 0.2s ease-out;
  transition: color 0.2s ease-out, background-color 0.2s ease-out;
}

.qodef-blog-pagination ul li a.qodef-pag-active, .qodef-blog-pagination ul li a:hover {
  background-color: #f34e3a;
  color: #fff;
}

.qodef-blog-pagination ul li.qodef-pag-prev a, .qodef-blog-pagination ul li.qodef-pag-next a, .qodef-blog-pagination ul li.qodef-pag-first a, .qodef-blog-pagination ul li.qodef-pag-last a {
  font-size: 22px;
}

.qodef-blog-pagination ul li.qodef-pag-prev a span, .qodef-blog-pagination ul li.qodef-pag-next a span, .qodef-blog-pagination ul li.qodef-pag-first a span, .qodef-blog-pagination ul li.qodef-pag-last a span {
  display: block;
  line-height: inherit;
  top: -2px;
  position: relative;
}

.qodef-blog-pagination ul li.qodef-pag-prev a span:before, .qodef-blog-pagination ul li.qodef-pag-next a span:before, .qodef-blog-pagination ul li.qodef-pag-first a span:before, .qodef-blog-pagination ul li.qodef-pag-last a span:before {
  display: block;
  line-height: inherit;
}

/* ==========================================================================
   Blog pagination standard style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode pagination standard style - begin
   ========================================================================== */
.qodef-blog-list-holder.qodef-bl-pag-standard-shortcodes .qodef-blog-list {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.qodef-blog-list-holder.qodef-bl-pag-standard-shortcodes.qodef-bl-pag-standard-shortcodes-animate .qodef-blog-list {
  opacity: 0;
}

.qodef-bl-standard-pagination {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 20px 0 0;
  clear: both;
}

.qodef-bl-standard-pagination ul {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.qodef-bl-standard-pagination ul li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0 12px;
  padding: 0;
}

.qodef-bl-standard-pagination ul li a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

.qodef-bl-standard-pagination ul li.qodef-bl-pag-active a {
  color: #f34e3a;
}

.qodef-bl-standard-pagination ul li.qodef-bl-pag-prev, .qodef-bl-standard-pagination ul li.qodef-bl-pag-next {
  position: absolute;
  top: 0;
}

.qodef-bl-standard-pagination ul li.qodef-bl-pag-prev a, .qodef-bl-standard-pagination ul li.qodef-bl-pag-next a {
  font-size: 30px;
  -webkit-transition: color 0.2s ease-out, opacity 0.2s ease-out;
  -moz-transition: color 0.2s ease-out, opacity 0.2s ease-out;
  transition: color 0.2s ease-out, opacity 0.2s ease-out;
}

.qodef-bl-standard-pagination ul li.qodef-bl-pag-prev a span, .qodef-bl-standard-pagination ul li.qodef-bl-pag-next a span {
  display: block;
  line-height: inherit;
}

.qodef-bl-standard-pagination ul li.qodef-bl-pag-prev a span:before, .qodef-bl-standard-pagination ul li.qodef-bl-pag-next a span:before {
  display: block;
  line-height: inherit;
}

.qodef-bl-standard-pagination ul li.qodef-bl-pag-prev {
  left: 0;
}

.qodef-bl-standard-pagination ul li.qodef-bl-pag-prev a {
  opacity: 0;
}

.qodef-bl-standard-pagination ul li.qodef-bl-pag-next {
  right: 0;
}

.qodef-bl-standard-pagination ul li.qodef-bl-pag-next a {
  opacity: 1;
}

/* ==========================================================================
   Blog List shortcode pagination standard style - end
   ========================================================================== */
/* ==========================================================================
   Blog pagination load more style - begin
   ========================================================================== */
.qodef-blog-pag-load-more {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 40px 0 30px;
  text-align: center;
}

/* ==========================================================================
   Blog pagination load more style - end
   ========================================================================== */
/* ==========================================================================
   Blog pagination loading element style - begin
   ========================================================================== */
.qodef-blog-pag-loading {
  position: relative;
  display: none;
  width: 100%;
  margin: 40px 0 20px;
  color: #29282d;
  text-align: center;
}

.qodef-blog-pag-loading.qodef-standard-pag-trigger {
  position: absolute;
  top: 50px;
  left: 0;
}

.qodef-blog-pag-loading.qodef-showing {
  display: block;
}

.qodef-blog-pag-loading > div {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  margin: 0 3px;
  background-color: #29282d;
  border-radius: 100%;
  -webkit-animation: bl-pag-bouncedelay 1.4s infinite ease-in-out both;
  -moz-animation: bl-pag-bouncedelay 1.4s infinite ease-in-out both;
  animation: bl-pag-bouncedelay 1.4s infinite ease-in-out both;
}

.qodef-blog-pag-loading .qodef-blog-pag-bounce1 {
  -webkit-animation-delay: -0.32s;
  -moz-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.qodef-blog-pag-loading .qodef-blog-pag-bounce2 {
  -webkit-animation-delay: -0.16s;
  -moz-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bl-pag-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes bl-pag-bouncedelay {
  0%, 80%, 100% {
    -moz-transform: scale(0);
  }
  40% {
    -moz-transform: scale(1);
  }
}

@keyframes bl-pag-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* ==========================================================================
   Blog pagination loading element style - end
   ========================================================================== */
/* ==========================================================================
   Blog pagination masonry  style - start
   ========================================================================== */
.page-template-blog-masonry .qodef-blog-pagination ul {
  text-align: left;
}

/* ==========================================================================
   Blog pagination masonry  style - end
   ========================================================================== */
/* ==========================================================================
   Blog List - Masonry style - begin
   ========================================================================== */
.qodef-blog-holder.qodef-blog-masonry article {
  margin: 0 0 20px;
  padding: 0 0 30px;
}

.qodef-blog-holder.qodef-blog-masonry article .qodef-post-info-date {
  text-transform: uppercase;
}

.qodef-blog-holder.qodef-blog-masonry article .qodef-post-content {
  background-color: #fff;
  box-shadow: 0 0 13px 3px rgba(0, 0, 0, 0.05);
}

.qodef-blog-holder.qodef-blog-masonry article .qodef-post-content.qodef-post-has-media .qodef-post-heading {
  margin-bottom: 36px;
}

.qodef-blog-holder.qodef-blog-masonry article .qodef-post-content .qodef-post-text {
  padding: 34px 35px 35px;
}

.qodef-blog-holder.qodef-blog-masonry article .qodef-post-content .qodef-post-text .qodef-post-text-inner .qodef-post-text-main .qodef-post-excerpt-holder {
  margin: 15px 0 16px;
  border-bottom: 0;
  padding-bottom: 0;
}

.qodef-blog-holder.qodef-blog-masonry article.format-link .qodef-post-text {
  padding: 60px 35px 56px;
}

.qodef-blog-holder.qodef-blog-masonry article.format-link .qodef-post-link-holder {
  position: static;
}

.qodef-blog-holder.qodef-blog-masonry article.format-link .qodef-post-link-holder .qodef-post-link-holder-inner {
  position: relative;
  z-index: 1;
}

.qodef-blog-holder.qodef-blog-masonry article.format-link .qodef-post-link-holder .qodef-link-title {
  margin-left: 12px;
}

.qodef-blog-holder.qodef-blog-masonry article.format-link .qodef-post-mark {
  position: absolute;
  top: -20px;
  left: 10px;
}

.qodef-blog-holder.qodef-blog-masonry article.format-quote .qodef-post-text {
  padding: 64px 35px 61px 32px;
}

.qodef-blog-holder.qodef-blog-masonry article.format-quote .qodef-post-quote-holder {
  position: static;
}

.qodef-blog-holder.qodef-blog-masonry article.format-quote .qodef-post-quote-holder .qodef-post-quote-holder-inner {
  position: relative;
  z-index: 1;
  margin-left: 10px;
}

.qodef-blog-holder.qodef-blog-masonry article.format-quote .qodef-post-mark {
  position: absolute;
  top: -39px;
  font-size: 69px;
  color: rgba(255, 255, 255, 0.7);
}

.qodef-blog-holder.qodef-blog-masonry article .qodef-post-read-more-button > a {
  color: #f34e3a;
}

.qodef-blog-holder.qodef-blog-masonry article .qodef-post-read-more-button > a:hover {
  color: #f34e3a !important;
}

.qodef-blog-holder .qodef-blog-pagination {
  padding: 100px 0 30px;
}

/* ==========================================================================
   Blog List - Masonry style - end
   ========================================================================== */
/* ==========================================================================
   Blog List - Standard style - begin
   ========================================================================== */
.qodef-blog-holder.qodef-blog-standard article {
  margin: 0 0 90px;
  padding: 0;
}

.qodef-blog-holder.qodef-blog-standard article:last-child {
  margin-bottom: 30px;
}

.qodef-blog-holder.qodef-blog-standard article.qodef-post-has-media .qodef-post-heading {
  margin-bottom: 40px;
}

.qodef-blog-holder.qodef-blog-standard .qodef-post-excerpt-holder {
  margin: 8px 0 0;
}

.qodef-blog-holder.qodef-blog-standard .qodef-post-info-bottom-left > div {
  position: relative;
  display: inline-block;
  padding: 0 14px 0 0;
  color: #ababab;
  font-size: 12px;
  letter-spacing: .15em;
  text-transform: uppercase;
}

.qodef-blog-holder.qodef-blog-standard .qodef-post-info-bottom-left > div > a {
  color: #ababab;
}

.qodef-blog-holder.qodef-blog-standard .qodef-post-info-bottom-left > div > a:hover {
  color: #f34e3a;
}

.qodef-blog-holder.qodef-blog-standard .qodef-post-info-bottom-left .qodef-post-info-author {
  margin-top: 3px;
}

.qodef-blog-holder.qodef-blog-standard .qodef-post-info-bottom-left .qodef-post-info-author-image {
  display: inline-block;
  vertical-align: middle;
}

.qodef-blog-holder.qodef-blog-standard .qodef-post-info-bottom-left .qodef-post-info-author-image img {
  height: 40px;
  width: 40px;
  float: left;
  border-radius: 100%;
  margin-right: 17px;
  position: relative;
}

.qodef-blog-holder.qodef-blog-standard .qodef-post-info-bottom-left .qodef-post-info-date:before {
  content: "\e075";
  font-family: 'simple-line-icons';
  font-size: 14px;
  margin-right: 5px;
  top: 1px;
  position: relative;
}

.qodef-blog-holder.qodef-blog-standard .qodef-post-info-bottom-left .qodef-post-info-comments:before {
  content: "\e02c";
  font-family: 'simple-line-icons';
  font-size: 14px;
  top: 3px;
  position: relative;
}

.qodef-blog-holder.qodef-blog-standard .qodef-post-info-bottom-left .qodef-tags-holder .qodef-tags:before {
  content: "\e829";
  font-family: 'Linearicons-Free';
  font-size: 14px;
  margin-right: 5px;
  top: 3px;
  position: relative;
}

.qodef-blog-holder.qodef-blog-standard .qodef-post-info-bottom-right .qodef-tags-holder .qodef-tags:before {
  content: "\e829";
  font-family: 'Linearicons-Free';
  font-size: 14px;
  margin-right: 5px;
  top: 3px;
  position: relative;
}

.qodef-blog-holder.qodef-blog-standard .qodef-post-info-bottom-right .qodef-tags-holder .qodef-tags a {
  color: #9c9c9c;
  font-size: 12px;
  text-transform: uppercase;
}

.qodef-blog-holder.qodef-blog-standard .qodef-post-info-bottom-right .qodef-tags-holder .qodef-tags a:hover {
  color: #f34e3a;
}

.qodef-blog-holder.qodef-blog-standard .qodef-post-read-more-button {
  color: #9c9c9c;
}

.qodef-blog-holder.qodef-blog-standard .qodef-post-read-more-button:hover {
  color: #f34e3a;
}

/* ==========================================================================
   Blog List - Standard style - end
   ========================================================================== */
/* Single author box styles - begin
	====================================================================== */
.qodef-author-description {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 0;
  background-color: #fafafa;
  text-align: center;
  box-sizing: border-box;
}

.qodef-author-description .qodef-author-description-inner {
  padding: 41px 0 39px;
  min-height: 78px;
  clear: both;
}

.qodef-author-description .qodef-author-description-content {
  position: relative;
  padding: 0 30px;
}

.qodef-author-description .qodef-author-description-image {
  width: 78px;
  margin: 0 auto;
}

.qodef-author-description .qodef-author-description-image img {
  display: block;
  border-radius: 5em;
}

.qodef-author-description .qodef-author-description-text-holder {
  position: relative;
  padding: 4px 0;
}

.qodef-author-description .qodef-author-description-text-holder .qodef-author-name {
  margin: 0;
}

.qodef-author-description .qodef-author-description-text-holder .qodef-author-name a {
  color: #29282d;
}

.qodef-author-description .qodef-author-description-text-holder .qodef-author-name a:hover {
  color: #f34e3a;
}

.qodef-author-description .qodef-author-description-text-holder .qodef-author-email {
  margin: 0;
}

.qodef-author-description .qodef-author-description-text-holder .qodef-author-text {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.qodef-author-description .qodef-author-description-text-holder .qodef-author-text > p {
  margin: 17px 0 14px;
}

.qodef-author-description .qodef-author-description-text-holder .qodef-author-social-icons {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.qodef-author-description .qodef-author-description-text-holder .qodef-author-social-icons a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin: 0 15px 0 0;
  font-size: 11px;
  color: #29282d;
}

.qodef-author-description .qodef-author-description-text-holder .qodef-author-social-icons a:last-child {
  margin: 0;
}

.qodef-author-description .qodef-author-description-text-holder .qodef-author-social-icons a:hover {
  color: #f34e3a;
}

@media only screen and (max-width: 768px) {
  .qodef-author-description .qodef-author-description-content {
    padding: 0;
  }
  .qodef-author-description .qodef-author-description-image {
    display: block;
    width: 100%;
  }
  .qodef-author-description .qodef-author-description-text-holder {
    display: block;
    padding: 0;
    margin-top: 30px;
  }
}

/* Single author box styles - end
	====================================================================== */
/* Single posts navigation styles - begin
    ====================================================================== */
.qodef-blog-single-navigation {
  position: relative;
  display: table;
  width: 100%;
  vertical-align: middle;
  padding: 0;
  clear: both;
  box-sizing: border-box;
}

.qodef-blog-single-navigation .qodef-blog-single-navigation-inner {
  padding: 0;
}

.qodef-blog-single-navigation .qodef-blog-single-prev,
.qodef-blog-single-navigation .qodef-blog-single-next {
  color: #9c9c9c;
}

.qodef-blog-single-navigation .qodef-blog-single-prev .qodef-blog-single-nav-mark,
.qodef-blog-single-navigation .qodef-blog-single-next .qodef-blog-single-nav-mark {
  font-size: 17px;
  line-height: inherit;
  color: inherit;
}

.qodef-blog-single-navigation .qodef-blog-single-prev .qodef-blog-single-nav-mark:before,
.qodef-blog-single-navigation .qodef-blog-single-next .qodef-blog-single-nav-mark:before {
  display: block;
  line-height: inherit;
  font-weight: 600;
}

.qodef-blog-single-navigation .qodef-blog-single-prev .qodef-blog-single-nav-label,
.qodef-blog-single-navigation .qodef-blog-single-next .qodef-blog-single-nav-label {
  color: inherit;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.2em;
}

.qodef-blog-single-navigation .qodef-blog-single-prev:hover,
.qodef-blog-single-navigation .qodef-blog-single-next:hover {
  color: #f34e3a;
}

.qodef-blog-single-navigation .qodef-blog-single-prev {
  float: left;
}

.qodef-blog-single-navigation .qodef-blog-single-prev .qodef-blog-single-nav-mark,
.qodef-blog-single-navigation .qodef-blog-single-prev .qodef-blog-single-nav-label {
  float: left;
}

.qodef-blog-single-navigation .qodef-blog-single-prev .qodef-blog-single-nav-mark {
  margin: 0 34px 0 0;
}

.qodef-blog-single-navigation .qodef-blog-single-next {
  float: right;
}

.qodef-blog-single-navigation .qodef-blog-single-next .qodef-blog-single-nav-mark,
.qodef-blog-single-navigation .qodef-blog-single-next .qodef-blog-single-nav-label {
  float: right;
}

.qodef-blog-single-navigation .qodef-blog-single-next .qodef-blog-single-nav-mark {
  margin: 0 0 0 34px;
}

.qodef-single-links-pages {
  clear: both;
  margin: 20px 0 5px;
}

.qodef-single-links-pages .qodef-single-links-pages-inner > a,
.qodef-single-links-pages .qodef-single-links-pages-inner > span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  height: 44px;
  width: 44px;
  text-align: center;
  line-height: 46px;
  background-color: #f2f2f2;
  color: #29282d;
  font-size: 13px;
  font-weight: 700;
  font-family: "Teko", sans-serif;
  -webkit-transition: color 0.2s ease-out, background-color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out, background-color 0.2s ease-out;
  transition: color 0.2s ease-out, background-color 0.2s ease-out;
  margin: 0 4px;
}

.qodef-single-links-pages .qodef-single-links-pages-inner > a:hover,
.qodef-single-links-pages .qodef-single-links-pages-inner > span:hover {
  background-color: #f34e3a;
  color: #fff;
}

.qodef-single-links-pages .qodef-single-links-pages-inner > span {
  background-color: #f34e3a;
  color: #fff;
}

/* Single posts navigation styles - end
    ====================================================================== */
/* Related posts styles - begin
	====================================================================== */
.qodef-related-posts-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 0;
  box-sizing: border-box;
}

.qodef-related-posts-holder .qodef-related-posts-holder-inner {
  padding: 46px 0 0;
}

.qodef-related-posts-holder .qodef-related-posts-title {
  margin: 0 0 40px;
}

.qodef-related-posts-holder .qodef-related-posts-title > * {
  margin: 0;
}

.qodef-related-posts-holder .qodef-related-posts-inner {
  margin: 0 -15px;
}

.qodef-related-posts-holder .qodef-related-post {
  position: relative;
  display: inline-block;
  float: left;
  width: 25%;
  margin: 0 0 30px;
  padding: 0 15px;
  box-sizing: border-box;
}

.qodef-content-has-sidebar .qodef-related-posts-holder .qodef-related-post {
  widtH: 33.33333333333333%;
}

.touch .qodef-related-posts-holder .qodef-related-post {
  cursor: pointer;
}

.qodef-related-posts-holder .qodef-related-post:hover .qodef-related-post-image a:after {
  opacity: 1;
}

.qodef-related-posts-holder .qodef-related-post .qodef-related-post-image {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  overflow: hidden;
}

.qodef-related-posts-holder .qodef-related-post .qodef-related-post-image a {
  position: relative;
  display: block;
}

.qodef-related-posts-holder .qodef-related-post .qodef-related-post-image a:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: '';
  background-color: rgba(41, 40, 45, 0.4);
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.qodef-related-posts-holder .qodef-related-post .qodef-related-post-image img {
  display: block;
}

.qodef-related-posts-holder .qodef-related-post .qodef-post-title {
  margin: 19px 0 0;
}

.qodef-related-posts-holder .qodef-related-post .qodef-post-title:first-child {
  margin-top: 0;
}

.qodef-related-posts-holder .qodef-related-post .qodef-post-info {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 4px 0 0;
}

.qodef-related-posts-holder .qodef-related-post .qodef-post-info > div {
  position: relative;
  display: inline-block;
  vertical-align: top;
  float: left;
  padding: 0 13px 0 0;
  color: inherit;
}

.qodef-related-posts-holder .qodef-related-post .qodef-post-info > div:after {
  position: absolute;
  top: 0;
  right: 4px;
  content: '/';
}

.qodef-related-posts-holder .qodef-related-post .qodef-post-info > div:last-child {
  padding: 0;
}

.qodef-related-posts-holder .qodef-related-post .qodef-post-info > div:last-child:after {
  display: none;
}

.qodef-related-posts-holder .qodef-related-post .qodef-post-info > div.qodef-post-info-author .qodef-post-info-author-text {
  margin: 0 3px 0 0;
}

.qodef-related-posts-holder .qodef-related-post .qodef-post-info > div a {
  color: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.qodef-related-posts-holder .qodef-related-post .qodef-post-info > div a:hover {
  color: #f34e3a;
}

/* Related posts styles - end
	====================================================================== */
/* ==========================================================================
   Blog Single style - begin
   ========================================================================== */
.qodef-blog-holder.qodef-blog-single article {
  margin: 0 0 30px;
}

.qodef-blog-holder.qodef-blog-single article .qodef-post-heading {
  margin-bottom: 45px;
}

.qodef-blog-holder.qodef-blog-single article .qodef-post-text .qodef-post-info-top {
  margin: 0px 0 10px;
  text-transform: uppercase;
}

.qodef-blog-holder.qodef-blog-single article.format-standard .qodef-post-text .qodef-post-info-top {
  margin: 0 0 10px;
  text-transform: uppercase;
}

.qodef-blog-holder.qodef-blog-single article.format-link .qodef-post-info-top {
  margin-top: 20px;
}

.qodef-blog-holder.qodef-blog-single article.format-quote .qodef-post-info-top {
  margin-top: 20px;
}

.qodef-blog-holder.qodef-blog-single article.format-quote .qodef-post-mark {
  color: #fff;
}

.qodef-blog-holder.qodef-blog-single article .qodef-post-title {
  margin: 12px 0;
}

.qodef-blog-holder.qodef-blog-single article .qodef-post-info-bottom {
  padding: 0 0 50px;
  border-bottom: 1px solid #e5e5e5;
  margin-top: 45px;
}

.qodef-blog-holder.qodef-blog-single article .qodef-post-info-bottom .qodef-post-info-bottom-left .qodef-tags-holder .qodef-tags a {
  padding: 10px;
  background-color: #f7f7f7;
  font-family: "Ubuntu", sans-serif;
  font-size: 12px;
  letter-spacing: 0.1em;
  color: #808080;
  margin-right: 5px;
  text-transform: uppercase;
}

.qodef-blog-holder.qodef-blog-single article .qodef-post-info-bottom .qodef-post-info-bottom-left .qodef-tags-holder .qodef-tags a:hover {
  color: #f34e3a;
}

.qodef-blog-holder.qodef-blog-single article .qodef-post-info-bottom .qodef-post-info-bottom-right .qodef-blog-share {
  text-transform: uppercase;
  font-size: 12px;
  color: #ababab;
  letter-spacing: 0.12em;
}

.qodef-blog-holder.qodef-blog-single article .qodef-post-info-bottom .qodef-post-info-bottom-right .qodef-blog-share .qodef-social-share-holder {
  margin-left: 16px;
}

.qodef-blog-holder.qodef-blog-single article .qodef-post-info-bottom .qodef-post-info-bottom-right .qodef-blog-share .qodef-social-share-holder a {
  color: #ababab;
  font-size: 13px;
}

.qodef-blog-holder.qodef-blog-single article .qodef-post-info-bottom .qodef-post-info-bottom-right .qodef-blog-share .qodef-social-share-holder a:hover {
  color: #f34e3a;
}

.qodef-blog-holder.qodef-blog-single .qodef-ps-info-author a:hover {
  color: #f34e3a;
}

.qodef-blog-holder.qodef-blog-single .qodef-post-info-author-image {
  display: inline-block;
  vertical-align: middle;
}

.qodef-blog-holder.qodef-blog-single .qodef-post-info-author-image img {
  height: 40px;
  width: 40px;
  float: left;
  border-radius: 100%;
  margin-right: 17px;
}

.qodef-blog-holder.qodef-blog-single .qodef-post-info-category:before {
  content: "\e829";
  font-family: 'Linearicons-Free';
  font-size: 14px;
  margin-right: 5px;
  top: 3px;
  position: relative;
}

.qodef-blog-holder.qodef-blog-single .qodef-post-info-comments:before {
  content: "\e02c";
  font-family: 'simple-line-icons';
  font-size: 14px;
  top: 3px;
  position: relative;
}

.qodef-blog-holder.qodef-blog-single .qodef-post-info-date:before {
  content: "\e075";
  font-family: 'simple-line-icons';
  font-size: 14px;
  margin-right: 5px;
  top: 1px;
  position: relative;
}

/* ==========================================================================
   Blog Single style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode global style - begin
   ========================================================================== */
.qodef-blog-list-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  clear: both;
}

.qodef-blog-list-holder .qodef-blog-list {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  list-style: none;
  margin: 0;
  padding: 0;
}

.qodef-blog-list-holder .qodef-bl-item {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 0;
  margin: 0 0 5px;
  box-sizing: border-box;
}

.qodef-blog-list-holder .qodef-bli-inner {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.qodef-blog-list-holder .qodef-bli-content {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  box-sizing: border-box;
}

.qodef-blog-list-holder .qodef-bli-content .qodef-bli-excerpt .qodef-post-read-more-button a.qodef-btn:hover {
  color: #f34e3a !important;
}

.qodef-blog-list-holder .qodef-post-image {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.qodef-blog-list-holder .qodef-post-image a {
  display: block;
}

.qodef-blog-list-holder .qodef-post-image img {
  display: block;
}

.qodef-blog-list-holder .qodef-bli-info {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0 0 8px;
  clear: both;
  font-size: 12px;
}

.qodef-blog-list-holder .qodef-bli-info > div {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  line-height: 1.2;
  float: left;
  padding: 0 20px 5px 0;
}

.qodef-blog-list-holder .qodef-bli-info > div:last-child {
  padding: 0 0 5px;
}

.qodef-blog-list-holder .qodef-bli-info > div a {
  color: #9c9c9c;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.qodef-blog-list-holder .qodef-bli-info > div a:hover {
  color: #f34e3a;
}

.qodef-blog-list-holder .qodef-post-title {
  margin: 0;
  letter-spacing: 0.05em;
}

.qodef-blog-list-holder .qodef-post-title a {
  font-weight: inherit;
}

.qodef-blog-list-holder .qodef-post-excerpt {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 15px 0 0;
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  color: #808080;
}

.qodef-blog-list-holder .qodef-post-excerpt p {
  margin: 0;
}

.qodef-blog-list-holder .qodef-post-excerpt:after {
  content: '...';
}

.qodef-blog-list-holder .qodef-post-info-date {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.qodef-blog-list-holder .qodef-post-read-more-button {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 15px 0 0;
  color: #9c9c9c;
}

.qodef-blog-list-holder .qodef-post-read-more-button a {
  font-size: 11px;
  font-weight: 600;
}

.qodef-blog-list-holder .qodef-post-read-more-button i {
  font-size: 14px !important;
}

/* ==========================================================================
   Blog List shortcode global style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode - Boxed type style - begin
   ========================================================================== */
.qodef-blog-list-holder.qodef-bl-boxed:not(.qodef-bl-one-column) .qodef-bl-item {
  float: left;
}

.qodef-blog-list-holder.qodef-bl-boxed.qodef-bl-two-columns .qodef-bl-item {
  width: 50%;
}

@media only screen and (min-width: 1025px) {
  .qodef-blog-list-holder.qodef-bl-boxed.qodef-bl-two-columns .qodef-bl-item:nth-child(2n+1) {
    clear: both;
  }
}

.qodef-blog-list-holder.qodef-bl-boxed.qodef-bl-three-columns .qodef-bl-item {
  width: 33.33333%;
}

@media only screen and (min-width: 1025px) {
  .qodef-blog-list-holder.qodef-bl-boxed.qodef-bl-three-columns .qodef-bl-item:nth-child(3n+1) {
    clear: both;
  }
}

.qodef-blog-list-holder.qodef-bl-boxed.qodef-bl-four-columns .qodef-bl-item {
  width: 25%;
}

@media only screen and (min-width: 1201px) {
  .qodef-blog-list-holder.qodef-bl-boxed.qodef-bl-four-columns .qodef-bl-item:nth-child(4n+1) {
    clear: both;
  }
}

.qodef-blog-list-holder.qodef-bl-boxed.qodef-bl-five-columns .qodef-bl-item {
  width: 20%;
}

@media only screen and (min-width: 1201px) {
  .qodef-blog-list-holder.qodef-bl-boxed.qodef-bl-five-columns .qodef-bl-item:nth-child(5n+1) {
    clear: both;
  }
}

.qodef-blog-list-holder.qodef-bl-boxed .qodef-bli-content {
  padding: 40px 35px 37px;
  background-color: #fff;
}

.qodef-blog-list-holder.qodef-bl-boxed .qodef-post-image {
  margin: 0;
  overflow: hidden;
}

.qodef-blog-list-holder.qodef-bl-boxed .qodef-post-image a {
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.46, 0.08, 0.19, 0.93);
  -moz-transition: -moz-transform 0.3s cubic-bezier(0.46, 0.08, 0.19, 0.93);
  transition: transform 0.3s cubic-bezier(0.46, 0.08, 0.19, 0.93);
}

.qodef-blog-list-holder.qodef-bl-boxed .qodef-post-image:hover a {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  transform: scale(1.05);
}

.qodef-blog-list-holder.qodef-bl-boxed-boxed-shadow .qodef-bli-inner {
  box-shadow: 0 0 13px 3px rgba(0, 0, 0, 0.05);
}

/* ==========================================================================
   Blog List shortcode - Boxed type style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode - Masonry type style - begin
   ========================================================================== */
.qodef-blog-list-holder.qodef-bl-masonry {
  transition: none !important;
  overflow: visible !important;
}

.qodef-blog-list-holder.qodef-bl-masonry .qodef-blog-list {
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.qodef-blog-list-holder.qodef-bl-masonry .qodef-bl-item {
  width: 100%;
  vertical-align: top;
  z-index: 100;
}

.qodef-blog-list-holder.qodef-bl-masonry .qodef-bl-grid-sizer {
  width: 100%;
  padding: 0;
  margin: 0;
}

.qodef-blog-list-holder.qodef-bl-masonry .qodef-bl-grid-gutter {
  width: 0;
  padding: 0;
  margin: 0;
}

.qodef-blog-list-holder.qodef-bl-masonry.qodef-bl-two-columns .qodef-bl-item,
.qodef-blog-list-holder.qodef-bl-masonry.qodef-bl-two-columns .qodef-bl-grid-sizer {
  width: 50%;
}

.qodef-blog-list-holder.qodef-bl-masonry.qodef-bl-three-columns .qodef-bl-item,
.qodef-blog-list-holder.qodef-bl-masonry.qodef-bl-three-columns .qodef-bl-grid-sizer {
  width: 33.33333%;
}

.qodef-blog-list-holder.qodef-bl-masonry.qodef-bl-four-columns .qodef-bl-item,
.qodef-blog-list-holder.qodef-bl-masonry.qodef-bl-four-columns .qodef-bl-grid-sizer {
  width: 25%;
}

.qodef-blog-list-holder.qodef-bl-masonry.qodef-bl-five-columns .qodef-bl-item,
.qodef-blog-list-holder.qodef-bl-masonry.qodef-bl-five-columns .qodef-bl-grid-sizer {
  width: 20%;
}

/* ==========================================================================
   Blog List shortcode - Masonry type style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode - Minimal type style - begin
   ========================================================================== */
.qodef-blog-list-holder.qodef-bl-minimal .qodef-post-info-date {
  display: block;
  margin: 0 0 11px;
  line-height: 1;
}

.qodef-blog-list-holder.qodef-bl-minimal .qodef-post-info-date a {
  font-size: 12px;
  color: #9c9c9c;
}

.qodef-blog-list-holder.qodef-bl-minimal .qodef-post-info-date a:hover {
  color: #f34e3a;
}

/* ==========================================================================
   Blog List shortcode - Minimal type style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode - Simple type style - begin
   ========================================================================== */
.qodef-blog-list-holder.qodef-bl-simple .qodef-post-image {
  display: table-cell;
  vertical-align: top;
  width: 100px;
}

.qodef-blog-list-holder.qodef-bl-simple .qodef-bli-content {
  display: table-cell;
  vertical-align: top;
  width: auto;
  padding-left: 25px;
}

.qodef-blog-list-holder.qodef-bl-simple .qodef-bli-content .qodef-post-info-date {
  display: block;
  margin: 5px 0 0;
  line-height: 1;
}

.qodef-blog-list-holder.qodef-bl-simple .qodef-bli-content .qodef-post-info-date a {
  font-size: 12px;
  color: #9c9c9c;
}

.qodef-blog-list-holder.qodef-bl-simple .qodef-bli-content .qodef-post-info-date a:hover {
  color: #f34e3a;
}

/* ==========================================================================
   Blog List shortcode - Simple type style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode - Standard type style - begin
   ========================================================================== */
.qodef-blog-list-holder.qodef-bl-standard .qodef-post-image {
  margin-bottom: 40px;
}

.qodef-blog-list-holder.qodef-bl-standard:not(.qodef-bl-one-column) .qodef-bl-item {
  float: left;
}

.qodef-blog-list-holder.qodef-bl-standard.qodef-bl-two-columns .qodef-bl-item {
  width: 50%;
}

@media only screen and (min-width: 1025px) {
  .qodef-blog-list-holder.qodef-bl-standard.qodef-bl-two-columns .qodef-bl-item:nth-child(2n+1) {
    clear: both;
  }
}

.qodef-blog-list-holder.qodef-bl-standard.qodef-bl-three-columns .qodef-bl-item {
  width: 33.33333%;
}

@media only screen and (min-width: 1025px) {
  .qodef-blog-list-holder.qodef-bl-standard.qodef-bl-three-columns .qodef-bl-item:nth-child(3n+1) {
    clear: both;
  }
}

.qodef-blog-list-holder.qodef-bl-standard.qodef-bl-four-columns .qodef-bl-item {
  width: 25%;
}

@media only screen and (min-width: 1281px) {
  .qodef-blog-list-holder.qodef-bl-standard.qodef-bl-four-columns .qodef-bl-item:nth-child(4n+1) {
    clear: both;
  }
}

.qodef-blog-list-holder.qodef-bl-standard.qodef-bl-five-columns .qodef-bl-item {
  width: 20%;
}

@media only screen and (min-width: 1281px) {
  .qodef-blog-list-holder.qodef-bl-standard.qodef-bl-five-columns .qodef-bl-item:nth-child(5n+1) {
    clear: both;
  }
}

/* ==========================================================================
   Blog List shortcode - Standard type style - end
   ========================================================================== */
/* ==========================================================================
   Blog List loading element style - begin
   ========================================================================== */
.qodef-bl-loading {
  position: relative;
  display: none;
  width: 100%;
  margin: 40px 0 20px;
  text-align: center;
}

.qodef-bl-loading.qodef-showing {
  display: block;
}

.qodef-bl-loading > div {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  margin: 0 3px;
  background-color: #29282d;
  border-radius: 100%;
  -webkit-animation: bl-bouncedelay 1.4s infinite ease-in-out both;
  -moz-animation: bl-bouncedelay 1.4s infinite ease-in-out both;
  animation: bl-bouncedelay 1.4s infinite ease-in-out both;
}

.qodef-bl-loading .qodef-bl-loading-bounce1 {
  -webkit-animation-delay: -0.32s;
  -moz-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.qodef-bl-loading .qodef-bl-loading-bounce2 {
  -webkit-animation-delay: -0.16s;
  -moz-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bl-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes bl-bouncedelay {
  0%, 80%, 100% {
    -moz-transform: scale(0);
  }
  40% {
    -moz-transform: scale(1);
  }
}

@keyframes bl-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* ==========================================================================
   Blog List loading element style - end
   ========================================================================== */
/* ==========================================================================
   Blog Slider shortcode style - begin
   ========================================================================== */
.qodef-blog-slider-holder {
  /***** Slider Type Style - begin *****/
  /***** Slider Type Style - end *****/
  /***** Carousel Type Style - begin *****/
  /***** Carousel Type Style - end *****/
  /***** Carousel Centered Type Style - begin *****/
  /***** Carousel Centered Type Style - end *****/
}

.qodef-blog-slider-holder.qodef-bs-slider .qodef-blog-slider-item {
  text-align: center;
}

.touch .qodef-blog-slider-holder.qodef-bs-slider .qodef-blog-slider-item {
  cursor: pointer;
}

.qodef-blog-slider-holder.qodef-bs-slider .qodef-blog-slider-item:hover .qodef-item-text-wrapper {
  opacity: 1;
}

.qodef-blog-slider-holder.qodef-bs-slider .qodef-post-title {
  color: #fff;
}

.qodef-blog-slider-holder.qodef-bs-slider .qodef-post-title a:hover {
  color: rgba(255, 255, 255, 0.8);
}

.qodef-blog-slider-holder.qodef-bs-slider .qodef-post-read-more-button a {
  color: #fff;
}

.qodef-blog-slider-holder.qodef-bs-slider .qodef-post-read-more-button a:hover {
  color: rgba(255, 255, 255, 0.8) !important;
}

.qodef-blog-slider-holder.qodef-bs-carousel .qodef-item-image a:hover:after {
  opacity: 1;
}

.qodef-blog-slider-holder.qodef-bs-carousel .qodef-item-image a:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: '';
  background-color: rgba(41, 40, 45, 0.4);
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.qodef-blog-slider-holder.qodef-bs-carousel .qodef-post-title {
  margin: 29px 0 0;
}

.qodef-blog-slider-holder.qodef-bs-carousel .qodef-post-read-more-button {
  margin: 15px 0 0;
}

.qodef-blog-slider-holder.qodef-bs-carousel-centered .active.center .qodef-item-text-wrapper {
  opacity: 1;
}

.qodef-blog-slider-holder.qodef-bs-carousel-centered .qodef-blog-slider-item {
  text-align: center;
}

.qodef-blog-slider-holder.qodef-bs-carousel-centered .qodef-post-title {
  color: #fff;
}

.qodef-blog-slider-holder.qodef-bs-carousel-centered .qodef-post-title a:hover {
  color: rgba(255, 255, 255, 0.8);
}

.qodef-blog-slider-holder.qodef-bs-carousel-centered .qodef-post-read-more-button a {
  color: #fff;
}

.qodef-blog-slider-holder.qodef-bs-carousel-centered .qodef-post-read-more-button a:hover {
  color: rgba(255, 255, 255, 0.8) !important;
}

.qodef-blog-slider-holder .qodef-blog-slider-item {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  list-style-type: none;
}

.qodef-blog-slider-holder .qodef-item-image {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.qodef-blog-slider-holder .qodef-item-text-wrapper {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(243, 78, 58, 0.85);
  opacity: 0;
  -webkit-transition: opacity 0.45s ease-out;
  -moz-transition: opacity 0.45s ease-out;
  transition: opacity 0.45s ease-out;
}

.qodef-blog-slider-holder .qodef-item-text-holder {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.qodef-blog-slider-holder .qodef-item-text-holder-inner {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  padding: 0 5%;
}

.qodef-blog-slider-holder .qodef-item-info-section {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin-bottom: 2px;
}

.qodef-blog-slider-holder .qodef-item-info-section > div {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-right: 10px;
  margin-right: 3px;
  color: #fff;
  font-size: 12px;
  line-height: 24px;
}

.qodef-blog-slider-holder .qodef-item-info-section > div a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
}

.qodef-blog-slider-holder .qodef-item-info-section > div a:hover {
  color: rgba(255, 255, 255, 0.8);
}

.qodef-blog-slider-holder .qodef-item-info-section > div:after {
  content: "/";
  position: absolute;
  top: 0;
  right: 2px;
}

.qodef-blog-slider-holder .qodef-item-info-section > div:last-child {
  padding-right: 0;
  margin-right: 0;
}

.qodef-blog-slider-holder .qodef-item-info-section > div:last-child:after {
  content: '';
}

.qodef-blog-slider-holder .qodef-post-title {
  margin: 0;
}

.qodef-blog-slider-holder .qodef-bli-excerpt {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 12px 0 0;
}

.qodef-blog-slider-holder .qodef-bli-excerpt p {
  margin: 0;
}

.qodef-blog-slider-holder .qodef-post-read-more-button {
  margin: 5px 0 0;
}

/* ==========================================================================
   Blog Slider shortcode style - end
   ========================================================================== */
/* ==========================================================================
   Blog styles - end
   ========================================================================== */

/*# sourceMappingURL=blog-map.css.map */
