/* line 2, scss/qodef-meta-boxes.scss */
.qodef-meta-box .qodef-meta-box-holder {
    width: 100%;
}
/* line 6, scss/qodef-meta-boxes.scss */
.qodef-meta-box .qodef-meta-box-holder .qodef-page-form-section th {
    width: 250px;
}
/* line 9, scss/qodef-meta-boxes.scss */
.qodef-meta-box .qodef-meta-box-holder .qodef-page-form-section th p {
    font-weight: 400;
    color: #9e9e9e;
}
/* line 16, scss/qodef-meta-boxes.scss */
.qodef-meta-box .qodef-meta-box-holder .qodef-page-form-section .qodef-field-desc h4 {
    margin-bottom: 0;
    line-height: 1.5em;
    margin-top: 0;
    padding: 0;
}
.qodef-meta-box .qodef-meta-box-holder .qodef-page-form-section {
	border-bottom: 1px solid #ececec;
	display: table;
	width: 100%;
}
.qodef-meta-box .qodef-meta-box-holder .qodef-page-form-section .qodef-field-desc{
    width: 20%;
    padding: 15px 20px 15px 0;
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    color: #34383c
}
.qodef-meta-box .qodef-meta-box-holder .qodef-page-form-section .qodef-field-desc p {
    color:#a2a9af;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 0;
}

.qodef-meta-box .qodef-meta-box-holder .qodef-page-form-section .qodef-section-content{
    padding: 20px 0;
    display: table-cell;
    width: 80%;
    height: 100%;
    vertical-align: middle;
}
 .btn.btn-primary {
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border:1px solid #25729a;
  background-color: #3093c7; 
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3093c7), to(#236694));
  background-image: -webkit-linear-gradient(top, #3093c7, #236694);
  background-image: -moz-linear-gradient(top, #3093c7, #236694);
  background-image: -ms-linear-gradient(top, #3093c7, #236694);
  background-image: -o-linear-gradient(top, #3093c7, #236694);
  background-image: linear-gradient(to bottom, #3093c7, #236694);
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3093c7, endColorstr=#236694);
}
.btn.btn-primary:hover {
  border:1px solid #1c5675;
  background-color: #26759e; background-image: -webkit-gradient(linear, left top, left bottom, from(#26759e), to(#133d5b));
  background-image: -webkit-linear-gradient(top, #26759e, #133d5b);
  background-image: -moz-linear-gradient(top, #26759e, #133d5b);
  background-image: -ms-linear-gradient(top, #26759e, #133d5b);
  background-image: -o-linear-gradient(top, #26759e, #133d5b);
  background-image: linear-gradient(to bottom, #26759e, #133d5b);
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#26759e, endColorstr=#133d5b);
}
.qodef-meta-box-hidden {
	display: none;
}
.qodef-meta-box-holder .qodef-page-form-container-holder {
	border-bottom: 1px solid #ececec;
	border-left: 3px solid #b2b8bd;
/*	margin-left: 10px;*/
}
.qodef-meta-box-holder .qodef-page-form-container-holder .qodef-page-form-container-holder {
	border-left: none;
	margin-left: 0;
/*	padding-left:30px;*/
}
.qodef-meta-box-holder .qodef-page-form-container-holder .qodef-page-form-container-holder .qodef-page-form-section{ 
	padding-left:40px;
	background:#edf0f1
}
.qodef-meta-box-holder .qodef-page-form-container-holder .qodef-page-form-container-holder .qodef-page-form-container-holder .qodef-page-form-section{
	background:#e8eced
}
.qodef-meta-box-holder .qodef-page-form-container-holder .qodef-page-form-container-holder .qodef-page-form-container-holder .qodef-page-form-section:last-child {
	border-bottom: none;
}
.qodef-meta-box-holder .qodef-page-form-container-holder .qodef-page-form-section {
	padding-left: 20px;
	background: #F2F4F5;
}

.svg-element-preview-field {
    background-color:#c8c9c9
}

.svg-element-preview-field svg{
    width: 100%;
    height: auto;
}

.qodef-options-page .qodef-page-content-wrapper .qodef-page-section-subtitle {
    color:#a2a9af;
    margin: 30px 0 15px;
    font-size: 14px;
    position: relative;
    text-transform: uppercase;
    padding-left: 12px;
}

.qodef-options-page .qodef-page-content-wrapper .qodef-page-section-subtitle:before {
    content: '';
    position: absolute;
    left: -20px;
    top: -7px;
    width: 0;
    height: 0;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    border-left: 18px solid #dbdee0;
}

/* Gutenberg page CSS fix */

.block-editor-page .postbox {
    margin: 20px !important;
}

.block-editor-page .edit-post-layout__metaboxes {
    background: #f2f2f2 !important;
}
