/* ==========================================================================
   Side area styles - begin
   ========================================================================== */
/* common mixins - start */
/* common mixins - end */
/* mixins styles - start */
/* mixins styles - end */
/* ==========================================================================
# Side area style - begin
========================================================================== */
.qodef-light-header .qodef-page-header > div:not(.qodef-sticky-header):not(.fixed) .qodef-side-menu-button-opener .qodef-side-menu-icon,
.qodef-light-header .qodef-top-bar .qodef-side-menu-button-opener .qodef-side-menu-icon {
  background-color: #fff !important;
  color: #333;
}

.qodef-light-header .qodef-page-header > div:not(.qodef-sticky-header):not(.fixed) .qodef-side-menu-button-opener .qodef-side-menu-icon.opened, .qodef-light-header .qodef-page-header > div:not(.qodef-sticky-header):not(.fixed) .qodef-side-menu-button-opener .qodef-side-menu-icon:hover,
.qodef-light-header .qodef-top-bar .qodef-side-menu-button-opener .qodef-side-menu-icon.opened,
.qodef-light-header .qodef-top-bar .qodef-side-menu-button-opener .qodef-side-menu-icon:hover {
  background-color: #f34e3a !important;
}

.qodef-dark-header .qodef-page-header > div:not(.qodef-sticky-header):not(.fixed) .qodef-side-menu-button-opener .qodef-side-menu-icon,
.qodef-dark-header .qodef-top-bar .qodef-side-menu-button-opener .qodef-side-menu-icon {
  background-color: #333 !important;
  color: #fff !important;
}

.qodef-dark-header .qodef-page-header > div:not(.qodef-sticky-header):not(.fixed) .qodef-side-menu-button-opener .qodef-side-menu-icon.opened, .qodef-dark-header .qodef-page-header > div:not(.qodef-sticky-header):not(.fixed) .qodef-side-menu-button-opener .qodef-side-menu-icon:hover,
.qodef-dark-header .qodef-top-bar .qodef-side-menu-button-opener .qodef-side-menu-icon.opened,
.qodef-dark-header .qodef-top-bar .qodef-side-menu-button-opener .qodef-side-menu-icon:hover {
  background-color: #f34e3a !important;
}

.qodef-side-menu-button-opener {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  top: -1px;
}

.qodef-sticky-header .qodef-side-menu-button-opener {
  top: 0;
}

.qodef-side-menu-button-opener .qodef-side-menu-title {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 8px 0 0;
  color: currentColor;
}

.qodef-side-menu-button-opener .qodef-side-menu-icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  opacity: 1;
  position: relative;
  background-color: #29282d;
  color: #fff;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px !important;
  border-radius: 100%;
  font-size: 20px;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.qodef-side-menu-button-opener.opened .qodef-side-menu-icon, .qodef-side-menu-button-opener:hover .qodef-side-menu-icon {
  background-color: #f34e3a;
}

.qodef-side-menu-button-opener.qodef-side-menu-button-opener-icon-pack .qodef-side-menu-icon {
  font-size: 20px;
}

.qodef-side-menu-button-opener.qodef-side-menu-button-opener-icon-pack .qodef-side-menu-icon * {
  display: block;
  line-height: inherit;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

.qodef-side-menu-button-opener.qodef-side-menu-button-opener-icon-pack .qodef-side-menu-icon *:before {
  display: block;
  line-height: inherit;
}

.qodef-side-menu-button-opener.qodef-side-menu-button-opener-icon-pack .qodef-side-menu-icon *:hover {
  -webkit-transition: all 0.5s cubic-bezier(0.86, 0.15, 0.19, 0.93);
  -moz-transition: all 0.5s cubic-bezier(0.86, 0.15, 0.19, 0.93);
  transition: all 0.5s cubic-bezier(0.86, 0.15, 0.19, 0.93);
}

.qodef-side-menu-button-opener.qodef-side-menu-button-opener-svg-path .qodef-side-menu-icon > * {
  vertical-align: middle;
}

.qodef-side-menu-button-opener.qodef-side-menu-button-opener-svg-path .qodef-side-menu-icon > *,
.qodef-side-menu-button-opener.qodef-side-menu-button-opener-svg-path .qodef-side-menu-icon path {
  fill: currentColor;
  stroke: currentColor;
}

.qodef-side-menu {
  position: fixed;
  top: 0;
  right: -430px;
  width: 430px;
  height: 100%;
  min-height: 100%;
  padding: 65px 60px;
  background-color: #fff;
  text-align: left;
  overflow: hidden;
  visibility: hidden;
  z-index: 9999;
  -webkit-backface-visibility: hidden;
  box-sizing: border-box;
  box-shadow: -3px 0 3px rgba(0, 0, 0, 0.04);
  -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

.qodef-side-menu .qodef-close-side-menu-holder {
  position: absolute;
  top: 37px;
  right: 40px;
  z-index: 1000;
}

.admin-bar .qodef-side-menu .qodef-close-side-menu-holder {
  top: 68px;
}

.qodef-side-menu a.qodef-close-side-menu {
  display: block;
  z-index: 1000;
  color: #29282d;
}

.qodef-side-menu a.qodef-close-side-menu:hover {
  color: #9c9c9c;
}

.qodef-side-menu a.qodef-close-side-menu.qodef-close-side-menu-icon-pack {
  font-size: 30px;
  color: #f34e3a;
}

.qodef-side-menu a.qodef-close-side-menu.qodef-close-side-menu-icon-pack:before {
  font-weight: 700;
}

.qodef-side-menu a.qodef-close-side-menu.qodef-close-side-menu-icon-pack * {
  display: block;
  line-height: inherit;
}

.qodef-side-menu a.qodef-close-side-menu.qodef-close-side-menu-icon-pack *:before {
  display: block;
  line-height: inherit;
}

.qodef-side-menu a.qodef-close-side-menu.qodef-close-side-menu-svg-path > * {
  vertical-align: middle;
}

.qodef-side-menu a.qodef-close-side-menu.qodef-close-side-menu-svg-path > *,
.qodef-side-menu a.qodef-close-side-menu.qodef-close-side-menu-svg-path path {
  fill: currentColor;
  stroke: currentColor;
}

/* ==========================================================================
# Side area style - end
========================================================================== */
/* ==========================================================================
# Side area slides over content style - begin
========================================================================== */
.qodef-right-side-menu-opened .qodef-wrapper,
.qodef-right-side-menu-opened footer.uncover,
.qodef-right-side-menu-opened .qodef-fixed-wrapper.fixed,
.qodef-right-side-menu-opened .qodef-sticky-header,
.qodef-right-side-menu-opened .mobile-header-appear .qodef-mobile-header-inner {
  left: 0;
}

.qodef-side-menu-slide-from-right .qodef-wrapper {
  background-color: #fff;
  position: relative;
  z-index: 1000;
  -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

.qodef-side-menu-slide-from-right .qodef-wrapper .qodef-cover {
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  background: #000;
  -webkit-transition: opacity 0.2s ease-in-out, background 0.2s ease-in-out, z-index 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out, background 0.2s ease-in-out, z-index 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, background 0.2s ease-in-out, z-index 0.2s ease-in-out;
}

.qodef-side-menu-slide-from-right .carousel-inner {
  -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

.qodef-side-menu-slide-from-right .qodef-sticky-header,
.qodef-side-menu-slide-from-right .qodef-fixed-wrapper.fixed {
  -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

.qodef-side-menu-slide-from-right footer.uncover {
  -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

.qodef-side-menu-slide-from-right.qodef-right-side-menu-opened .qodef-cover {
  z-index: 1002;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.qodef-side-menu-slide-from-right.qodef-right-side-menu-opened .qodef-side-menu {
  right: 0;
  visibility: visible;
}

/* ==========================================================================
# Side area slides over content style - end
========================================================================== */
/* ==========================================================================
# Side area uncovering - begin
========================================================================== */
.qodef-side-area-uncovered-from-content.qodef-right-side-menu-opened .qodef-wrapper,
.qodef-side-area-uncovered-from-content.qodef-right-side-menu-opened footer.uncover,
.qodef-side-area-uncovered-from-content.qodef-right-side-menu-opened .qodef-sticky-header,
.qodef-side-area-uncovered-from-content.qodef-right-side-menu-opened .qodef-fixed-wrapper.fixed,
.qodef-side-area-uncovered-from-content.qodef-right-side-menu-opened .qodef-mobile-header-inner,
.qodef-side-area-uncovered-from-content.qodef-right-side-menu-opened .mobile-header-appear .qodef-mobile-header-inner {
  left: -405px;
}

.qodef-side-area-uncovered-from-content .qodef-side-menu {
  right: 0;
  z-index: 90;
}

.qodef-side-area-uncovered-from-content .qodef-sticky-header,
.qodef-side-area-uncovered-from-content .qodef-fixed-wrapper.fixed {
  -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

/* ==========================================================================
# Side area uncovering - end
========================================================================== */
/* ==========================================================================
# Side area slides with content style - begin
========================================================================== */
.qodef-side-menu-slide-with-content {
  overflow-x: hidden;
  position: relative;
  left: 0;
  -webkit-overflow-scrolling: auto !important;
  -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

.qodef-side-menu-slide-with-content .qodef-side-menu {
  visibility: visible;
}

.qodef-side-menu-slide-with-content footer.uncover,
.qodef-side-menu-slide-with-content .qodef-wrapper {
  -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

.qodef-side-menu-slide-with-content .qodef-sticky-header,
.qodef-side-menu-slide-with-content .qodef-fixed-wrapper.fixed,
.qodef-side-menu-slide-with-content .qodef-mobile-header-inner {
  -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

.qodef-side-menu-slide-with-content .carousel-inner {
  left: 0 !important;
  -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

.qodef-side-menu-slide-with-content.qodef-side-menu-open .qodef-wrapper,
.qodef-side-menu-slide-with-content.qodef-side-menu-open footer.uncover,
.qodef-side-menu-slide-with-content.qodef-side-menu-open .qodef-sticky-header,
.qodef-side-menu-slide-with-content.qodef-side-menu-open .qodef-fixed-wrapper,
.qodef-side-menu-slide-with-content.qodef-side-menu-open .qodef-mobile-header-inner {
  left: -405px;
}

.qodef-side-menu-slide-with-content.qodef-side-menu-open .qodef-side-menu {
  right: 0;
}

.qodef-side-menu-slide-with-content.qodef-side-menu-open .carousel-inner:not(.relative_position) {
  left: -405px !important;
}

/* ==========================================================================
# Side area slides with content style - end
========================================================================== */
/* ==========================================================================
# Side area responsive style - begin
========================================================================== */
/* ==========================================================================
# Side area style - end
========================================================================== */
/* ==========================================================================
   Side area styles - end
   ========================================================================== */

/*# sourceMappingURL=sidearea-map.css.map */
