/* generated in /home2/shahfahad/public_html/fitness2/wp-content/themes/prowess/assets/custom-styles/general-custom-styles.php prowess_select_design_styles function */
body { font-family: Montserrat;}

/* generated in /home2/shahfahad/public_html/fitness2/wp-content/themes/prowess/assets/custom-styles/general-custom-styles.php prowess_select_content_styles function */
.qodef-content .qodef-content-inner > .qodef-full-width > .qodef-full-width-inner { padding: 0;}

/* generated in /home2/shahfahad/public_html/fitness2/wp-content/themes/prowess/assets/custom-styles/general-custom-styles.php prowess_select_content_styles function */
.qodef-content .qodef-content-inner > .qodef-container > .qodef-container-inner { padding: 0;}

/* generated in /home2/shahfahad/public_html/fitness2/wp-content/themes/prowess/assets/custom-styles/general-custom-styles.php prowess_select_h1_styles function */
h1 { font-size: 90px;}

/* generated in /home2/shahfahad/public_html/fitness2/wp-content/themes/prowess/assets/custom-styles/general-custom-styles.php prowess_select_h6_styles function */
h6 { font-size: 12px;font-weight: 400;letter-spacing: 0.2em;}

/* generated in /home2/shahfahad/public_html/fitness2/wp-content/themes/prowess/framework/modules/contactform7/custom-styles/contact-form.php prowess_select_contact_form7_text_styles_1 function */
.cf7_custom_style_1 textarea.wpcf7-form-control.wpcf7-textarea { height: 50px;}

/* generated in /home2/shahfahad/public_html/fitness2/wp-content/themes/prowess/framework/modules/contactform7/custom-styles/contact-form.php prowess_select_contact_form7_text_styles_1 function */
.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-text, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-number, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-date, .cf7_custom_style_1 textarea.wpcf7-form-control.wpcf7-textarea, .cf7_custom_style_1 select.wpcf7-form-control.wpcf7-select, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-quiz { color: #a4a4a4;font-weight: 400;background-color: rgba(33, 33, 33, 1);}

/* generated in /home2/shahfahad/public_html/fitness2/wp-content/themes/prowess/framework/modules/contactform7/custom-styles/contact-form.php prowess_select_contact_form7_focus_styles_1 function */
.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-text:focus, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-number:focus, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-date:focus, .cf7_custom_style_1 textarea.wpcf7-form-control.wpcf7-textarea:focus, .cf7_custom_style_1 select.wpcf7-form-control.wpcf7-select:focus, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-quiz:focus { color: #a4a4a4;}

/* generated in /home2/shahfahad/public_html/fitness2/wp-content/themes/prowess/framework/modules/contactform7/custom-styles/contact-form.php prowess_select_contact_form7_button_styles_1 function */
.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-submit { color: #ffffff;}

/* generated in /home2/shahfahad/public_html/fitness2/wp-content/themes/prowess/framework/modules/contactform7/custom-styles/contact-form.php prowess_select_contact_form7_button_hover_styles_1 function */
.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-submit:not([disabled]):hover { color: #ffffff;}

/* generated in /home2/shahfahad/public_html/fitness2/wp-content/themes/prowess/framework/modules/error404/custom-styles/custom-styles.php prowess_select_404_page_general_styles function */
.error404 .qodef-content { background-image: url(http://prowess.select-themes.com/wp-content/uploads/2018/02/404-background-img-1.jpg);background-position: center 0;background-size: cover;background-repeat: no-repeat;}

/* generated in /home2/shahfahad/public_html/fitness2/wp-content/themes/prowess/framework/modules/error404/custom-styles/custom-styles.php prowess_select_404_title_styles function */
.error404 .qodef-page-not-found .qodef-404-title { color: #ffffff;}

/* generated in /home2/shahfahad/public_html/fitness2/wp-content/themes/prowess/framework/modules/error404/custom-styles/custom-styles.php prowess_select_404_subtitle_styles function */
.error404 .qodef-page-not-found .qodef-404-subtitle { color: #ffffff;}

/* generated in /home2/shahfahad/public_html/fitness2/wp-content/themes/prowess/framework/modules/footer/admin/custom-styles/footer-custom-styles.php prowess_select_footer_top_general_styles function */
.qodef-page-footer .qodef-footer-top-holder { background-color: #252525;}

/* generated in /home2/shahfahad/public_html/fitness2/wp-content/themes/prowess/framework/modules/footer/admin/custom-styles/footer-custom-styles.php prowess_select_footer_bottom_general_styles function */
.qodef-page-footer .qodef-footer-bottom-holder { background-color: #252525;}

/* generated in /home2/shahfahad/public_html/fitness2/wp-content/themes/prowess/framework/modules/header/types/top-header/admin/custom-styles/top-header-custom-styles.php prowess_select_header_top_bar_styles function */
.qodef-header-box .qodef-top-bar-background { height: 91px;}

/* generated in /home2/shahfahad/public_html/fitness2/wp-content/themes/prowess/framework/modules/header/admin/custom-styles/header-custom-styles.php prowess_select_header_menu_area_styles function */
.qodef-page-header .qodef-menu-area { background-color: rgba(255, 255, 255, 0);}

/* generated in /home2/shahfahad/public_html/fitness2/wp-content/themes/prowess/framework/modules/header/admin/custom-styles/header-custom-styles.php prowess_select_main_menu_styles function */
.qodef-main-menu > ul > li > a > span.item_outer .item_text { top: 3px;}

/* generated in /home2/shahfahad/public_html/fitness2/wp-content/themes/prowess/framework/modules/title/admin/custom-styles/title-custom-styles.php prowess_select_title_area_typography_style function */
.qodef-title-holder .qodef-title-wrapper .qodef-page-title { color: #ffffff;}

