@media only screen and (max-width: 1024px){
/* generated in /home2/shahfahad/public_html/fitness2/wp-content/themes/prowess/assets/custom-styles/general-custom-styles-responsive.php prowess_select_content_responsive_styles function */
.qodef-content .qodef-content-inner > .qodef-container > .qodef-container-inner, .qodef-content .qodef-content-inner > .qodef-full-width > .qodef-full-width-inner { padding: 40px 0;}

}

@media only screen and (min-width: 769px) and (max-width: 1024px){
/* generated in /home2/shahfahad/public_html/fitness2/wp-content/themes/prowess/assets/custom-styles/general-custom-styles-responsive.php prowess_select_h1_responsive_styles3 function */
h1 { font-size: 75px;line-height: 75px;}

/* generated in /home2/shahfahad/public_html/fitness2/wp-content/themes/prowess/assets/custom-styles/general-custom-styles-responsive.php prowess_select_h2_responsive_styles3 function */
h2 { font-size: 45px;line-height: 45px;}

}

@media only screen and (min-width: 681px) and (max-width: 768px){
/* generated in /home2/shahfahad/public_html/fitness2/wp-content/themes/prowess/assets/custom-styles/general-custom-styles-responsive.php prowess_select_h1_responsive_styles function */
h1 { font-size: 75px;line-height: 75px;}

/* generated in /home2/shahfahad/public_html/fitness2/wp-content/themes/prowess/assets/custom-styles/general-custom-styles-responsive.php prowess_select_h2_responsive_styles function */
h2 { font-size: 45px;line-height: 45px;}

}

@media only screen and (max-width: 680px){
/* generated in /home2/shahfahad/public_html/fitness2/wp-content/themes/prowess/assets/custom-styles/general-custom-styles-responsive.php prowess_select_h1_responsive_styles2 function */
h1 { font-size: 65px;line-height: 65px;}

/* generated in /home2/shahfahad/public_html/fitness2/wp-content/themes/prowess/assets/custom-styles/general-custom-styles-responsive.php prowess_select_h2_responsive_styles2 function */
h2 { font-size: 45px;line-height: 45px;}

}