/* ==========================================================================
   Footer styles - begin
   ========================================================================== */
/* common mixins - start */
/* common mixins - end */
/* mixins styles - start */
/* mixins styles - end */
/* ==========================================================================
   Footer style - begin
   ========================================================================== */
.qodef-page-footer {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  z-index: 100;
  box-sizing: border-box;
}

.qodef-page-footer .qodef-footer-top-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  background-color: #363636;
  box-sizing: border-box;
}

.qodef-page-footer .qodef-footer-top-holder .qodef-footer-top-alignment-center {
  text-align: center;
}

.qodef-page-footer .qodef-footer-top-holder .qodef-footer-top-alignment-left {
  text-align: left;
}

.qodef-page-footer .qodef-footer-top-holder .qodef-footer-top-alignment-right {
  text-align: right;
}

.qodef-page-footer .qodef-footer-top-holder .qodef-footer-top-inner {
  box-sizing: border-box;
}

.qodef-page-footer .qodef-footer-top-holder .qodef-footer-top-inner.qodef-grid {
  padding: 76px 0;
}

.qodef-page-footer .qodef-footer-top-holder .qodef-footer-top-inner.qodef-full-width {
  padding: 76px 40px;
}

.qodef-page-footer .qodef-footer-bottom-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  background-color: #363636;
  box-sizing: border-box;
  text-align: center;
}

.qodef-page-footer .qodef-footer-bottom-holder .qodef-footer-bottom-inner {
  box-sizing: border-box;
}

.qodef-page-footer .qodef-footer-bottom-holder .qodef-footer-bottom-inner.qodef-grid {
  padding: 19px 0;
}

.qodef-page-footer .qodef-footer-bottom-holder .qodef-footer-bottom-inner.qodef-full-width {
  padding: 19px 40px;
}

.qodef-page-footer .qodef-footer-bottom-holder .qodef-footer-bottom-inner .qodef-grid-col-6:first-child, .qodef-page-footer .qodef-footer-bottom-holder .qodef-footer-bottom-inner qodef-grid-col-4:first-child {
  text-align: left;
}

.qodef-page-footer .qodef-footer-bottom-holder .qodef-footer-bottom-inner .qodef-grid-col-6:last-child, .qodef-page-footer .qodef-footer-bottom-holder .qodef-footer-bottom-inner qodef-grid-col-4:last-child {
  text-align: right;
}

.qodef-page-footer .qodef-footer-bottom-holder .qodef-footer-bottom-inner .qodef-grid-col-6 {
  width: 50%;
  float: left;
}

.qodef-page-footer .qodef-footer-bottom-holder .qodef-footer-bottom-inner .widget {
  margin: 0 10px 0 0;
  display: inline-block;
}

.no-touch body:not(.error404) .qodef-page-footer.qodef-footer-uncover {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  -webkit-transition: left 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -moz-transition: left 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  transition: left 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
}

.qodef-right-side-menu-opened .qodef-page-footer.qodef-footer-uncover {
  left: -270px;
}

.qodef-page-footer .qodef-contact-form-7-widget .wpcf7 {
  padding-top: 10px;
}

.qodef-page-footer .qodef-contact-form-7-widget .qodef-btn.qodef-btn-solid {
  margin-top: 10px;
}

/* ==========================================================================
   Footer style - end
   ========================================================================== */
/* ==========================================================================
   Footer styles - end
   ========================================================================== */

/*# sourceMappingURL=footer-map.css.map */
